@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.bg-image {
    background-image: url('/images/bg.jpg');
    background-size: cover; /* You can adjust this property as needed */
}