body{
    background-image: url('/images/bg.jpg');
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-left:7%;
} /* TEMP FIX, nakacenter siya IF yung monitor is 1920 x 1080. If hindi makahanap solution ok na ito basta nakafullscreen at wag lang i-zoom out */

.card{
    height: 615px;
    width: 400px;
    background-color: whitesmoke;
    border-radius:25px;
    padding: 20px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 10px;
}

.circle{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: black;
    border-radius: 100px;

}

.circle-center{
    position:relative;
    top: -15px;
    left:120px;
}

p{
    position:relative;
    left:50px;
}

#btn{
    color:white;
    background-color: gray;
}
#btn:hover{
    background-color: darkblue;
}

#alreadyreg{
    color:gray;
}
#alreadyreg:hover{
    color:darkblue;
}