body{
    background-image: url('/images/bg.jpg');
}
.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-left:7%;
} /* TEMP FIX, nakacenter siya IF yung monitor is 1920 x 1080. If hindi makahanap solution ok na ito basta nakafullscreen at wag lang i-zoom out */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 10px;
}
.card{
    position:relative;
    height:auto;
    width: 400px;
    background-color: whitesmoke;
    border-radius:30px;
}

.circle{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: black;
    border-radius: 100px;

}
.circle-center{
    position:relative;
    top: 25px;
    left:140px;
}

#email{
    position:relative;
    top: 50px;
    left: 25px;
    width: 350px;
    border-radius: 0px;
}

#password{
    position:relative;
    top: 50px;
    left: 25px;
    width: 350px;
    border-radius: 0px;
}
#remember_me{
    position:relative;
    top: 50px;
    left: 25px;
}
#forgotpass{
    position:relative;
    top: 13px;
    left: -20px;
}
#forgotpass:hover{
    color:blue;
}

#btn{
    position:relative;
    top: 30px;
    left: 10px;
    width: 350px;
    display: grid;
    place-items: center;
}
.login{
    color: black;
}
.err_message{
    position:relative;
    top: 50px;
    left: 30px;

}