body{
    background-image: url('/images/bg.jpg');
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(100px);
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 10px;
}
.card{
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    border-radius:30px;
}

.circle{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: black;
    border-radius: 100px;

}
.circle-center{
    position:relative;
    top: 25px;
    left:140px;
}

#email{
    position:relative;
    top: 50px;
    left: 25px;
    width: 350px;
    border-radius: 0px;
}

#password{
    position:relative;
    top: 50px;
    left: 25px;
    width: 350px;
    border-radius: 0px;
}
#remember_me{
    position:relative;
    top: 50px;
    left: 25px;
}
#forgotpass{
    position:relative;
    top: 13px;
    left: -20px;
}

#btn{
    position:relative;
    top: 30px;
    left: 10px;
    width: 350px;
    display: grid;
    place-items: center;
    
}