.card {
    margin: auto;
    margin-top: 40px;
    width: 820px;
    height: 584px;
    background-image: linear-gradient(163deg, #a2b1a9 0%, rgb(51, 176, 226) 100%);
    border-radius: 50px;
    transition: all .3s;
   }
   
   .card2 {
    margin-top: 40px;
    margin: auto;
    width: 790px;
    height: 554px;
    background-color: #1a1a1a;
    border-radius: 40px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 50px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 70px 30px rgba(47, 169, 250, 0.514)
   }

   .card-text{
    margin: 150px 0 0 0;
    color: azure;
    gap: 3rem;
    display: grid;
    text-align: center;
   }

